.userImg, .search,.createIvent>span:last-child {
	display: none;
}
.leftside{
	left: 9%;
}
.rightSide{
	right: 6%;
	margin-top: 15px;
}

/**********************************************************************************/
.linksFB {
	left: 5%;
}
.navigate {
	max-width: 600px;
	margin-top: 10px;
	margin-bottom: 36px;

}
.chooseBox {
right: 5%
}
.rights {
	border-top: 1px solid #575958;
	font-family: Roboto;
	color:  #666666;
	font-size: 13px;
	line-height: 46px;
}
.inputdata, #addimage {
	float:none;
	display: block;
	margin-top: 35px;
}
.wrap {
	width:auto;
}
#mapimage, #saysomething, #tags {
	width:90%;
}