.slide-menu {
	background-color:rgba(94,95,98,0.8);
	width: 364px;
	height: 700px;
	position: fixed;
	left:-365px;
	top:90px;
	z-index: 5;
	border-radius: 15px;
}
.menu1{
	height: 70px;
	background-color: #5e5f62;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
.menu3, .menu5{
	background-color: #5e5f62;


	height: 42px;
	padding-left: 30px;

}