.userImg, .search,.createIvent>span:first-child, .categories span {
	display: none;
}
.categories {
	border:1px solid #fff;
	line-height: 0;
	margin-top: 15px;
	padding: 10px 3px 10px 10px;
}
.createIvent>span:last-child{
	display: inline;
}
.createIvent {
	font-family: 'Roboto', sans-serif;
	color:  #ffffff;
	font-size: 21px;
	padding:7px 10px;
	margin-top: 15px;
}
.events{
	margin:0 15% 0 15%;
}
.container {
	width: 100%;
}
.fotoContainer{
	margin:12px 1px 13px 1px;
}
.leftside{
	left: 7%;
}
.rightSide{
	right: 7%;
}
.logo{
	width: 50%;
	min-width: 100px;
	margin:18px 0 0 -23%;
}
.logo img{
	max-width: 100%;
	height: auto;
}

/**********************************************************************************/
.infoBox p:first-child {
	font-size: 35px;
	line-height: 50px;
	padding-top: 51px;
}
.infoBox p:last-child {
	font-size: 14px;
	line-height: 28px;
}
.getStartedBtn {
	background-color:  #43a047;
	color: #fff;
	border: 2px solid #fff;
	margin: 130px auto 0;
}

footer{
	height: 200px;
}
.linksFB {
	margin-right: 25px;
	float:none;
	top:auto;
	left:auto;
}
.navigate {
	margin:0 0 10px -13%;
}
.chooseBox {
	width: 130px;
	float:none;
	margin:0 -23px 9px 46px;
	top: -14px;
}
.rights {
	border-top: 1px solid #575958;
	font-family: Roboto;
	color:  #666666;
	font-size: 13px;
}
.inputdata, #addimage {
	float:none;
	display: inline-block;
	margin-top: 35px;
}
.wrap {
	width:auto;
}
#mapimage, #saysomething, #tags, .inputdata, #addimage{
	width:90%;
}
#time, #date, #selectcategory, #eventtitle{
	width:100%;
}
#time {
	margin-top:35px;
}
#addimage {
	margin-top:50px;
}
.infomessage {
	display: none;
}