html, body {
	margin: 0px;
	background-color: #fbfbfb;
}
body {
	position: relative;
	transition: 0.4s;


}
header {
	background-color: #d32f2f;
	height: 70px;
	margin:0 auto;
}
a {
	text-decoration: none;
	color:  #fff;
}
a:visited{
	color:  #fff;
}
.categories, .search, .userImg, .createIvent {
	font-family: 'Roboto', sans-serif;
	color:  #fff;
	font-size: 14px;
	line-height: 64px;
}
.leftside{
	position: relative;
	left: 10%;
	float: left;
}
.categories, .search {
	display: inline-block;
}
.categories{ 
	margin-right: 39px;
}
.categories img, .search img {
	margin-right: 7px;
}
.rightSide{
	float:right;
	position: relative;
	right: 10%;
}
.createIvent, .userImg {
	display: inline-block;
}
.createIvent {
	padding:7px 21px 10px 21px;
	margin-left: 30px;
	border: 1px solid #fff;
	border-radius: 1px;
	line-height: 17px;
}
.createIvent>span:last-child{
	display: none;
}
.userImg img{
	vertical-align: middle;
	margin-right: 6px;
}
.counter {
	display: inline-block;
	vertical-align:7px;
	line-height: 22px;
	text-align: center;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #5dbc61;
	margin-left: -6px;
}
.logo {
		position: absolute;
		left:50%;
		margin:18px 0 0 -103px;
		display: inline-block;
	}
/*******************************************************************/
.infomessage {
	width: 40%;
	height: 220px;
	background-color:rgba(67,160,71,0.90);
	position: absolute;
	display: inline-block;
	left:30%;
	margin-top:100px;
	z-index: 10;
	text-align: center;
	border-radius: 15px;
	border: 4px solid #43a047;
	font-family: Roboto;
	color:  #fff;
	font-size: 35px;
	padding:35px 10px 0 10px;
	transition: 1.5s;
}
.i-got-it-btn {
	border-radius: 5px;
	background-color: #d1e6d2;
	text-align: center;
	border: 3px solid #fff;
	height: 50px;
	max-width:356px;
	font-size: 35px;
	color: #55a959;
	cursor: pointer;
	margin: 8% auto;
}
/*******************************************************************/
.backmap {
	background-image: url("../image/navmap.png");
	height: 70px;
	width: 100%;
	display: block;
	text-align: center;
	border-bottom: 1px solid #d4d4d4;
}
.people, .events, .findEvent {
	display: inline-block;
	font-family: Roboto;
	color:  #666;
	font-size: 18px;
	line-height: 35px;
	margin:24px 0 0 0;
	padding-bottom: 9px;
}
.events {
	border-bottom: 2px solid #ff483b;
}
.events {
	margin: 0 79px 0 80px;
}
/*******************************************************************/
.container {
	text-align: center;
	position: relative;
	width: 90%;
	max-width: 1150px;
	margin: 0 auto;
	padding: 15px 0 15px 0;
	background-color: #fbfbfb;
}
.fotoContainer {
	display: inline-block;
	margin:12px 11px 13px 11px;

}
.foto{
		width: 100%;
	min-width: 296px;
}
.foto img{
	max-width: 100%;
	height: auto;
}
.info {
	text-align: left;
	border: 1px solid #d8d8d8;
	border-top: none;
	height: 85px;
	margin-top:-4px;
	background-color: #fff;
}
.info>div:first-child {
	float:left;
	margin:16px 14px 0 17px;
}
.infoTitle {
font-family: Roboto;
color:  #000;
font-size: 17px;
line-height: 18px;
text-align: left;
padding-top: 20px;
}
.time, .place, .peoples{
	display: inline-block;
}
.place img {
 	position: relative;
	top:5px;
	margin:0 4px 0 5px; 
}
.peoples img {
	margin-right: 4px; 

}
.info span {
font-family: Roboto;
color:  #999999;
font-size: 13px;
line-height: 25px;
text-align: left;
}

/*************************************************************/
.showMoreBtn {
	border-radius: 2px;
	text-align: center;
	border: 1px solid #d8d8d8;
	height: 50px;
	max-width:356px;
	margin:0 auto 68px;
}
.showMoreBtn img {
	margin:16px 9px 0 0; 
}
.showMoreBtn span {
	font-family:Roboto;
	color:  #000;
	font-size: 14px;
	line-height: 25px;
	display:inline-block;
	vertical-align: 3px;
}
/****************************************************************/
.createEvent {
	background-image: url(../image/trafaret.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 395px;
}
.infoBox{
	max-width: 645px;
	height: 132px;
	margin: 0 auto;
}
.infoBox p:first-child {
	font-family: Roboto;
	color:  #fff;
	font-size: 55px;
	line-height: 78px;
	text-align: center;
	margin: 0px;
	padding-top: 51px;
}
.infoBox p:last-child {
	font-family: Roboto;
	color:  #c0fbc3;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}
.getStartedBtn {
	background-color:  #fff;
	width: 202px;
	height: 50px;
	font-family: Roboto;
	color:  #43a047;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	margin: 124px auto 0;
}
/*************************************************************/
footer	{
	background-color: #343635;
	height:150px;
	bottom: 0;
	text-align: center;
}
.slideBtn {
	height: 50px;
	width:53px;
	border-radius: 50%;
	background-color: #343635;
	position: absolute;
	left:50%;
	margin: -23px 0 0 -25px;
	font-family: Roboto;
	color:  #666;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}
.slideBtn img {
	margin-top: 10px;
}
.navigate, .linksFB, .chooseBox {
	display: inline-block;
}
.linksFB {
	position: relative;
	left: 10%;
	top:-52px;
	float: left;

}
.navigate {
	position: relative;
	margin: 40px 35px 0 0;

}
.footer-menu {
	color: #d6d6d6;
	display: inline;
	padding: 0 5px;
	font-family: Roboto;
	color:  #fff;
	font-size: 14px;
	line-height: 25px;
}
.chooseBox {
	height:36px;
	width:170px;
	border:1px solid #575958;
	float:right;
	position: relative;
	right: 10%;
	top:-52px;
}
.chooseBox span {
	font-family: Roboto;
	color:  #fff;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	margin: 0 6px 0 6px;
}
.rights {
	border-top: 1px solid #575958;
	font-family: Roboto;
	color:  #666;
	font-size: 13px;
	line-height: 46px;
}
li { 
	display: inline-block;
}
ul {
	margin-left:-40px;
}