html{
	background-color: #fbfbfb;
}
#title {
	font-family: Roboto;
	color:  #292727;
	font-size: 55px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 40px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: 25px auto;

}
#container {
	position: relative;
	text-align: center;
}
#eventDet {
	font-family: Roboto;
	color:  #292727;
	font-size: 21px;/* Приближение из-за подстановки шрифтов */
	line-height: 20px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: 50px 0 35px 0;
	padding: 0;
}
.wrap {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 798px;

}
.inputdata {
	display: inline-block;
	width: 370px;
	height: 216px;
	float:left;
}
#addimage {
	border-radius: 2px;
	border:1px solid #bcbcbc;
	background-color: #ffffff;
	width: 370px;
	height: 216px;
	float:right;
	display: inline-block;
}
#eventtitle { 
	font-family: Roboto;
	color:  #292727;
	font-size: 21px;
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color:  #ffffff;
	width: 370px;
	height: 50px;
	margin-bottom:33px;
	background-image: url(image/event-create-ribbon.png);
	background-repeat: no-repeat;
	background-size: 10px 15px;
	background-position: 15px 50%;
	padding-left: 35px;
}
#selectcategory {
	font-family: Roboto;
	color:  #292727;
	font-size: 21px;
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 370px;
	height: 50px;
	margin-bottom:33px;
	background-image: 
	url(image/event-create-strip.png),
	url(image/event-create-arrow.png);
	background-repeat: no-repeat;
	background-size: 13px 10px;
	background-position: 12px 50%,345px center;
	padding-left: 35px;
	-webkit-appearance: none;

}
#date {
	font-family: Roboto;
	color:  #292727;
	font-size: 18px;
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 174px;
	height: 50px;
	display: inline-block;
	position: relative;
	float: left;
	margin-right: 22px;
	background-image: url(image/event-create-date.png);
	background-repeat: no-repeat;
	background-size: 24px 19px;
	background-position: 6px 50%;
	padding-left: 35px;

}
#time{
	display: inline-block;
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 174px;
	height: 50px;
	background-image: url(image/event-create-clock.png);
	background-repeat: no-repeat;
	background-position: 11px 50%;
	position: relative;
	padding-left: 35px;
}

#chooseloc {
	
	font-family: Roboto;
	color: #292727;
	font-size: 21px; /* Приближение из-за подстановки шрифтов */
	line-height: 20px; /* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: 80px 0 25px 0;


}
#mapimage{
	
	width: 796px;
	height: 355px;
	border:1px solid #bcbcbc;
	background-image: url(image/event-create-map.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	display: inline-block;
}
#greystrip{
	width: 100%;
	height:47px;
	background-color:  rgba(0, 0, 0, 0.6);
	position: relative;
	top: 308px;
	background-image: url(image/event-create-pin.png);
	background-repeat: no-repeat;
	background-size: 12px 16px;
	background-position: 20px 16px;
	text-align: left;
}
#greystriptext{
		font-family: Roboto;
color:  #ffffff;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 47px;/* Приближение из-за подстановки шрифтов */
margin-left: 41px;
}

#saysomething {
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 798px;
	height: 110px;
	padding: 12px 7px 7px 35px;
	text-align: justify;
	background-image: url(image/event-create-paper.png);
	background-repeat: no-repeat;
	background-size: 12px 15px;
	background-position: 17px 11px;
	position: relative;
	margin: 30px 0 0 0;


}

#tags{
	border-radius: 2px;
	border:1px solid #bcbcbc;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 798px;
	height: 51px;
	background-image: url(image/event-create-tag.png);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 13px 15px;
	padding: 12px 7px 7px 35px;
	position: relative;
	margin: 30px 0 0 0;

}
#btnMakeIventLive {
	font-family: Roboto;
	color:  #292727;
	font-size: 21px;
	border-radius: 2px;
	background-color:  #43a047;
	width: 280px;
	height: 50px;
	color:#fff;
	text-align:center;
	position: relative;
	left:50%;
	padding-top: 18px;
	margin: 30px 0 25px -140px;
}
#watchpreview{
	font-family: Roboto;
	color: #000000;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	line-height: 15px; 
	text-align: center;
	margin-bottom: 50px;
}